* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    position: fixed;
    background-color: darkcyan
}

.logo img {
    width: 200px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
    position: relative;
}
nav ul li a.active{
    /* color:#12eff3; */
    color: #5be71eea;
    font-weight: bolder;
}
nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 3px;
    background-color:#12ddf3;
}



/* dropdown */
/* li a .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

li a:hover,
.dropdown:hover .dropbtn {
    background-color: darkgreen;
}


/* Dropdown style */

li.dropdown {
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ffd6d6;
    font-size: medium;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: cadetblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* home */

.home p {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 40px;
}

.container {
    max-width: 1600px;
    margin-left: 0px;
    padding: 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home img {
    width: 100%;
    padding: 80px 0 30px;
}

.col-2 {
    flex-basis: 50%;
    /*both colum occupy 50% space*/
    min-width: 500px;
    padding: 10px 0;
}

.col-2 img {
    max-width: 700px;
    padding: 10px 0;
}

.col-2 h1 {
    /*google fonts */
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    /* -------------- */
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: backround 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 11%;
}

/* categories */
.categories {
    margin: 30px 0;
    padding: 25px;
    background-color: coral;
}

.sm-container {
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.deals-head {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-size: 25px;
}

.col-3 {
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 50px;
    padding: 30px 0;
}

figure img {
    width: 270px;
    height: 300px;
    border-radius: 5px;

}

figure {
    /* width: 250px; */
    border: 5px solid white;
    border-radius: 10px;
    padding: 1px;
    margin: auto;

}

figcaption {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 4px;

}

/* /Font awesome icon */
.star {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 4px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #00cc44;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    height: 400px;
}

.title {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    /*Empty content*/
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

/* Offer */



.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 50px;
    padding: 25px 0;
}

.col-2 .offer-img {
    padding-right: 50%;
}

small {
    color: #555;
}


/* Testimonial */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

/* Font awesome Quote icon */
.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 15px;
}

/* Brands */
.brands {
    margin: 100px auto;
}



.brand-head {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.brands img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.col-5 {
    width: 160px;
}

/* .col-5 img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;

}

.col-5 img:hover {
    filter: grayscale(0);
} */



/* footer */

.footer {
    background-color: darkslateblue;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 110px;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


/* All Products */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background-color: #ff523b;
    color: #fff;

}

/* single product details */
.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid red;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* cart Items Details */
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* Account Page */

.account-page {
    padding: 100px 50px;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background-color: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#Logform {
    left: -300px;
}

#Regform {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background-color: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}